<div class="container-fluid">
    <h2 class="text-center">Create a new list you want to achieve</h2>
    <hr>
    <form #goalForm='ngForm'>
    
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name" [(ngModel)]="newDiary.name" name="name">
            Display {{newDiary.name}}
            
            
  
        </div>
        <div class="form-group">
  
            <label for="description">About</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="complete">Due</label>
            <input type='date' id="complete" required>
  
        </div>
    </form>
  </div>
